<% var title = 'Authentication Example' %>
<% include head %>

<h1>Login</h1>
Try accessing <a href="/restricted">/restricted</a>, then authenticate with "tj" and "foobar".
<form method="post" action="/login">
  <p>
    <label>Username:</label>
    <input type="text" name="username" value="admin">
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="password" value="password">
  </p>
  <p>
    <input type="submit" value="Login">
  </p>
</form>

<% include foot %>